
html, body{
    font-family: 'Bebas Neue', cursive !important; 
  }
  
  .topbar {
    background-color: #333;
    text-align: center;
    color: white;
    flex-grow: 1;
    font-size: 18px;
  }
  
  
  header #logo {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  navbar{
    display: flex;
    justify-content: center;
    opacity: 100%;
  }
  
  navbar a{
    color: black;
    font-size: large;
    text-decoration: none;
    margin: 2px;
  }
  
  navbar #social{
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }
  
  navbar .btn{
    font-size: large;
    margin-left: 1px;
  }
  
  .carousel-fade {
    position: relative;
    height: 35vh;
  }
  .carousel-fade .carousel-inner .carousel-item {
    height: 35vh;
  }
  .carousel-fade .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
  }
  
  .carousel-fade .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
  }
  
  /********************************/
  /*          Hero Headers        */
  /********************************/
  .hero {
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      transform: translate3d(-50%,-50%,0);
  }
  
  .hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  
  .carousel-fade .carousel-inner .item .hero {
    opacity: 0; 
    transition: 1s all ease-in-out .1s; 
  }
  .carousel-fade .carousel-inner .carousel-item.active .hero {
    opacity: 1; 
    transition: 1s all ease-in-out .1s;    
  }
  
  /********************************/
  /*          Custom Buttons      */
  /********************************/
  .btn.btn-lg {padding: 10px 40px;}
  .btn.btn-hero,
  .btn.btn-hero:hover,
  .btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
  }
  
  /********************************/
  /*       Slides backgrounds     */
  /********************************/
  .carousel-fade .slides .slide-1, 
  .carousel-fade .slides .slide-2,
  .carousel-fade .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  }
  
  .carousel-fade .slides .slide-1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)), url("/storage/images/bg/shoeboxhero.jpg"); 
  }
  .carousel-fade .slides .slide-2 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)), url("/storage/images/bg/shoeshero.jpg");
  }
  .carousel-fade .slides .slide-3 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)), url("/storage/images/bg/shoewallhero.jpg");
  }
  
  /********************************/
  /*          Media Queries       */
  /********************************/
  
  @media screen and (min-width: 980px){
    .hero { width: 980px; } 
    .carousel-fade {
      position: relative;
      height: 320px;
    }
    .carousel-fade .carousel-inner .carousel-item {
      height: 320px;
    }      
  }
  
  
  @media screen and (max-width: 840px){
    .hero h1 { font-size: 4em; } 
    .carousel-fade {
      position: relative;
      height: 150px;
    }
    .carousel-fade .carousel-inner .carousel-item {
      height: 150px;
    }   
  }
  
  
  .product-filter {
    display: flex;
  }
  .product-filter h1 {
    flex-grow: 1;
  }
  .sort {
    display: flex;
  }
  .collection-sort {
    display: flex;
    flex-direction: column;
  }
  .products-mens {
    display: flex;
    flex-wrap: wrap;
  }
  .products-womens {
    display: flex;
    flex-wrap: wrap;
  }
  .products-youth {
    display: flex;
    flex-wrap: wrap;
  }
  .products-apparel {
    display: flex;
    flex-wrap: wrap;
  }
  .products-used {
    display: flex;
    flex-wrap: wrap;
  }
  .product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    flex-direction: column;
    text-align: center;
  
    display: flex;
  }
  
  .product-card h5, h6{
    margin: 0;
  }
  .product-image img {
    max-width: 100%;
  }
  
  @media (max-width: 920px) {
    .product-card {
      flex: 1 21%;
    }
  }
  
  /* Select the first two */
  .products .product-card:nth-child(2), 
  .products .product-card:nth-child(3) {
    flex: 2 46%;
  }
  
  @media (max-width: 600px) {
    .product-card {
      flex: 1 46%;
    }
  }
  
  @media (max-width: 480px) {
    .product-filter {
      flex-direction: column;
    }
    .sort {
      align-self: flex-start;
    }
  }
  
  .footer{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgba(0,0,0,.15);
    border-top: 2px solid black;
  }
  
  .footerlogo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    padding: 10px;
  }
  
  .footertext{
    padding: 5px;
  }
  
  @media screen and (max-width: 600px) {
    navbar{
      display: flex;
      justify-content: center;
      opacity: 100%;
    }
    
    navbar #social{
  
      width: 20px;
      height: 20px;
    }
  
  
    navbar .btn{
      font-size: small;
      padding-left: 1%;
    }
  }
  
  .modal {
    transform: translateY(25%);
  }

  .toast {
    position: absolute;
    bottom: 0;
    right: 0;
}
