.header{
    text-align: center;
}

.brand {
    height:100px;
}

.aside{
    width:245px;
    height: calc(100% - 100px);
    position: fixed;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

ul {
    list-style: none;
}

.content{
    width: 75%;
    margin-left:calc(290px);
}

.card {
    position: relative;
    right:20%;
    transform: translateX(20%);
}

.toast {
    position: absolute;
    top: 0;
    right: 0;
}

.plus{
    font-size: 1em;
}
