.header{
    text-align: center;
}

.brand {
    height:100px;
}

.aside{
    width:245px;
    top: 100px;
       
}
.inner-aside {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.content{
    width: 75%;
    margin:0 auto;
}

.card {
    position: relative;
    right:20%;
    transform: translateX(20%);
}

.toast {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

.plus{
    font-size: 1em;
}


.product-card {
    border: solid 1px;
  }